<!DOCTYPE html>
<html lang="pt-BR">
<%- include('../../partials/head') %>

  <body class="bg-light">

    <%- include('../../partials/header') %>

      <div class="d-flex">
        <%- include('../../partials/sidebar') %>

          <div class="content">
            <h1>Perfil</h1>
            <form action="/usuario/perfil" method="post">
              <div class="row">
                <div class="form-group mb-3 col-lg-6 col-md-8 col-12">
                  <label for="nome">Nome</label>
                  <input class="form-control" type="text" name="nome" id="nome" value="<%= usuario.nome %>">
                </div>
              </div>

              <div class="row">
                <div class="form-group mb-3 col-lg-6 col-md-8 col-12">
                  <label for="email">Email</label>
                  <input class="form-control" type="email" name="email" id="email" value="<%= usuario.email %>">
                </div>
              </div>

              <div class="row">
                <div class="form-group mb-3 col-lg-6 col-md-8 col-12">
                  <label for="senha">Senha</label>
                  <input class="form-control" type="password" name="senha" id="senha" value="<%= usuario.senha %>">
                </div>
              </div>
              <button type="submit" class="btn btn-primary mt-1">Salvar</button>
            </form>
          </div>
      </div>

      <%- include('../../partials/scripts') %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <% if (mensagem) { %>

          <script>
            Swal.fire({
              icon: '<%= mensagem.tipo %>',
              text: '<%= mensagem.valor %>'
            });
          </script>

          <% } %>
  </body>

</html>